@use "sass:color";
@use "../base/colors";
@use "../base/variables";
@use "../reusable/reusable-icons";

// Obsolets
.button__icon {
	background: transparent;
	border: variables.$border solid colors.$primary-main;
	border-radius: variables.$border-radius;
	color: colors.$neutral-dark;
	width: 1.5rem;
	height: 1.5rem;
	display: grid;
	place-items: center;
	cursor: pointer;
	transition: background 0.2s, transform 0.1s;


	&:disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}

	&:hover:not(:disabled) {
		background: colors.$primary-main;
		color: colors.$neutral-lightest;
	}
}

.list-controls__button {
	display: inline-grid;
	place-items: center;
	width: 2.75rem;
	height: 2.5rem;
	border: variables.$border solid colors.$primary-main;
	border-radius: variables.$border-radius;
	background: transparent;
	color: colors.$neutral-dark;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;

	&:hover {
		background: colors.$primary-main;
		color: colors.$neutral-lightest;
	}

	&:disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}
}

// Navbar
.checkout-card {
	display: grid;
	place-items: center;
	// width: 3rem;
	height: 2.5rem;
	font-size: 1rem;
	color: colors.$primary-main;
	font-weight: 500;
	line-height: 1;
	user-select: none;

	&:hover {
		background: color.scale(colors.$neutral-lighter, $lightness: -5%);
		border: variables.$border solid color.change(colors.$primary-main, $alpha: .25);
	}
}

// Button
.button__text {
	display: grid;

	grid-template-columns: 1fr;

	margin: 0.5rem auto;
	padding: variables.$size-small variables.$size-large;

	font-size: 1rem;

	color: colors.$neutral-lightest;
	background: colors.$primary-main;
	border-radius: variables.$border-radius;

	cursor: pointer;

	&:hover {
		background: color.scale(colors.$primary-main, $lightness: -30%);
	}
}
