@use "../base/colors";
@use "../base/variables";
@use "../base/typography";
@use "../elements/icons";

/* Targeta resum d'una ordre */
.summary-item {
	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: variables.$size-medium;
	align-items: center;

	padding: variables.$size-small variables.$size-medium;
	background-color: colors.$neutral-lightest;
	border: variables.$border solid colors.$primary-lighter;
	border-radius: variables.$border-radius;
	box-shadow: variables.$shadow-light;

	&:hover {
		border-color: colors.$primary-dark;
		transform: translateY(-2px);
	}

	.circle-icon {
		@extend %circle-icon;

		justify-self: end;
	}

	&__left {
		display: grid;
		row-gap: .25rem;
	}

	&__right {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: .75rem;
	}

	label {
		@extend %text-small;

		color: colors.$neutral-dark;
		color: brown;
	}
}
