@use "sass:color";
@use "../base/colors";
@use "../base/variables";
@use "../base/typography";
@use "../reusable/reusable-icons";

/* Targeta resum d’una ordre */
.summary-item {
	display: grid;
	grid-template-columns: 1fr auto;
	// column-gap: variables.$size-medium;
	align-items: center;
	gap: 1rem;

	padding: variables.$size-small variables.$size-medium;
	background: colors.$neutral-lightest;
	border: 1px solid colors.$primary_main;
	border-radius: variables.$border-radius;
	box-shadow: variables.$shadow-light;

	&:hover {
		border-color: rgba(0, 0, 0, .18);
	}

	&__price-label {
		@extend %price-label;

		justify-self: end;
	}

	&__circle-icon {
		@extend %circle-icon;

		justify-self: end;
	}
}

.summary-item__left {
	display: grid;
	row-gap: .25rem;
}

.summary-item__date {
	color: colors.$neutral-darker;
	font-size: .875rem;
	line-height: 1.1;
}

.summary-item__count {
	justify-self: start;
	color: colors.$neutral-darker;
	// font-size: .875rem;
	line-height: 1.1;
}

.summary-item__right {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap: .75rem;


}
