@use "sass:color";
@use "../base/colors";
@use "../base/variables";


.items-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(variables.$item-card-width, 1fr));
	gap: variables.$size-large;
	align-items: start;

	width: min(1200px, 100% - 2rem);
	margin: variables.$size-medium auto;
	padding: variables.$size-small;
}
