@use "sass:color";
@use "../base/colors";
@use "../base/variables";

/* Pàgina de resum d’ordres (llistat) */
.orders-page {
	width: 20rem;
	margin: 0 auto;
	display: grid;
	row-gap: variables.$size-medium;
}

.orders-page__header {
	display: grid;
	place-items: center;
}

.orders-page__title {
	font-size: 1.25rem;
	font-weight: 600;
	color: colors.$primary_main;
}

.orders-page__item {
	text-decoration: none;
	color: inherit;
}

/* Targeta resum d’una ordre */
.orders-card {
	display: grid;
	grid-template-columns: 1fr auto;
	// column-gap: variables.$size-medium;
	align-items: center;
	gap: 1rem;

	padding: variables.$size-small variables.$size-medium;
	background: colors.$neutral-lightest;
	border: 1px solid colors.$primary_main;
	border-radius: variables.$border-radius;
	box-shadow: variables.$shadow-light;

	&:hover {
		border-color: rgba(0, 0, 0, .18);
	}

}

.orders-card__left {
	display: grid;
	row-gap: .25rem;
}

.orders-card__date {
	color: colors.$neutral-darker;
	font-size: .875rem;
	line-height: 1.1;
}

.orders-card__count {
	justify-self: start;
	color: colors.$neutral-darker;
	// font-size: .875rem;
	line-height: 1.1;
}

.orders-card__right {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap: .75rem;
}

.orders-card__total {
	font-size: 1rem;
	justify-self: end;
	font-weight: 700;
	color: colors.$primary-main;
}

.icon {

	display: grid;
	place-items: center;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 999px;
	color: colors.$neutral-dark;
	background: colors.$neutral-lighter;
	border: 1px solid color.change(colors.$primary-main, $alpha: .25);
	font-weight: 700;
	line-height: 1;
	user-select: none;

	&:hover {
		background: color.scale(colors.$neutral-lighter, $lightness: -5%);
	}
}
