@use "sass:color";
@use "../base/colors";
@use "../base/variables";

/* Pàgina de resum d’ordres (llistat) */
.orders-page {
	width: 20rem;
	margin: 0 auto;
	display: grid;
	row-gap: variables.$size-medium;
}

.orders-page__header {
	display: grid;
	place-items: center;
}

.orders-page__title {
	font-size: 1.25rem;
	font-weight: 600;
	color: colors.$primary_main;
}

.orders-page__item {
	text-decoration: none;
	color: inherit;
}
