@use "sass:color";
@use "../base/colors";
@use "../base/variables";

.help-overlay {
	position: fixed;
	inset: 0;
	background-color: colors.$neutral-darkest;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	cursor: not-allowed;
}

.help-modal {
	background-color: colors.$neutral-lightest;
	padding: variables.$size-large;
	border-radius: variables.$border-radius;
	box-shadow: variables.$shadow-light;
	max-width: 90%;
	width: 50%;
	min-width: 20rem;
	position: relative;
	border: 1px solid colors.$primary-main;
	cursor: pointer;
}

.help-modal__title {
	margin: 0 0 variables.$size-small;
	font-size: 1.25rem;
	font-weight: 600;
	color: colors.$neutral-dark;
}

.help-modal__message {
	margin: 0 0 variables.$size-medium;
	font-size: 1rem;
	color: colors.$neutral-dark;
}

.help-modal__close-button {
	position: absolute;
	top: variables.$size-small;
	right: variables.$size-small;
	background-color: transparent;
	border: none;
	font-size: 1.25rem;
	line-height: 1;
	cursor: pointer;
}

.help-modal__textarea {
	width: 100%;
	max-width: 30rem;
	min-height: 8rem;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	line-height: 1.4;
	white-space: pre-wrap;
	word-break: break-all;
	resize: none;
	overflow-y: auto;
	border: 1px solid colors.$primary-light;
	border-radius: variables.$border-radius;
	background-color: colors.$neutral-lightest;
	color: colors.$neutral-dark;


	&:focus {
		outline: 2px solid colors.$primary-main;
		outline-offset: 2px;
	}
}

.web-options__info {
	background-color: transparent;
	border: none;
	font-size: 0.75rem;
	cursor: pointer;
	margin-left: variables.$size-small;

}
