@use "sass:color";
@use "../base/colors";
@use "../base/variables";

%circle-icon {
	display: grid;
	place-items: center;

	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;

	background: colors.$neutral-lighter;
	border: variables.$border solid color.change(colors.$primary-main, $alpha: .25);

	font-weight: 800;
	line-height: 1;
	user-select: none;

	&:hover {
		background: color.scale(colors.$neutral-lighter, $lightness: -5%);
	}

	&>svg {
		// width: 1.2rem;
		// height: 1.2rem;
		display: block;
		color: colors.$neutral-darker
	}
}
