// Neutral colors
$neutral-darkest: hsl(0, 0%, 0%);
$neutral-darker: #1f1f1f;
$neutral-dark: #8f8f8f;
$neutral-main: #c2c2c2;
$neutral-light: #ececec;
$neutral-lighter: #fafafa;
$neutral-lightest: #ffffff;

// Corporative colors
$primary-darker: #00175d;
$primary-dark: #002d98;
$primary-main: #0038B8;
$primary-light: #134ccd;
// $primary-lighter: #3773f6;
$primary-lighter: #7aa7ff;

// Success, warming and error
$danger-darker: #660000;
$danger-dark: #990000;
$danger-main: #ee0000;
$danger-light: #ff6666;
$danger-lighter: #ffeded;

$success-darker: #1a4d1a;
$success-dark: #008000;
$success-main: #66cc66;
$success-light: #99dd99;
$success-lighter: #eaffea;

// developer-mode
// $primary-dark: red;
// $primary-main: red;
