@use "sass:color";
@use "./colors";

$nav-height: 75px;

$viewport-max-width: 1200px;

$border-radius: 0.5rem;
$border: 1px;

$breakpoint-medium: 768px;

$shadow-light: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

$size-extra-small: 0.25rem;
$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 1.5rem;
$size-extra-large: 2rem;

$main-item-width: 14rem;
$main-item-height: 19rem;

$main-item-meta-lines: 2;
$main-item-meta-line-h: 1.25rem;
$main-item-meta-pad-y: .75rem;
$main-item-meta-h: $main-item-meta-pad-y * 2 + $main-item-meta-line-h * $main-item-meta-lines;

$nav-height: 75px;
