@use "sass:color";
@use "./colors";

$nav-height: 75px;

$viewport-max-width: 1200px;

$border-radius: 0.5rem;
$border: 1px;

$breakpoint-medium: 768px;

$shadow-light: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

$size-extra-small: 0.25rem;
$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 1.5rem;
$size-extra-large: 2rem;

$item-card-width: 14rem;
$item-card-height: 19rem;

$item-card-meta-lines: 2;
$item-card-meta-line-h: 1.25rem;
$item-card-meta-pad-y: .75rem;
$item-card-meta-h: $item-card-meta-pad-y * 2 + $item-card-meta-line-h * $item-card-meta-lines;

$nav-height: 75px;
